My name is jeff

{%- comment -%}comment 1{%- endcomment -%}

<div>My name is todd</div>

{%- comment%}
my cool comment
{%endcomment -%}

{%comment%}
my cool comment
{%endcomment -%}


{%liquid
echo "Inside a liquid block"

comment
this is a comment
endcomment

echo "This is not a comment endcomment"

%}